{{#each optionButtons as |optionButton|}}
  <button title="{{optionButton.title}}" 
          class="btn btn-default {{optionButton.color}}" 
          disabled={{if optionButton.disableOnMulti (if multipleChecked 'disabled')}} 
          {{action buttonClicked optionButton.actionId}}>
    <i class="fa {{optionButton.icon}}"/>
  </button>
{{/each}}
