<div class="form-inline">
  {{#if filterableProperties}}
    {{input id="filterBox" type='text' name="filterBox" class="form-control" value=filterText 
      placeholder='Filter'}}
  {{/if}}

  {{ember-dynamic-table-option-buttons checkedItems=checkedItems optionButtons=optionButtons 
    buttonClicked=(action "optionButtonClicked") }}
</div>

<table class="table table-hover scroll">
  <thead>
    {{#ember-dynamic-table-header-tr numOptionButtons=optionButtons.length}}
      {{#each availableColumns as |column|}}
        {{ember-dynamic-table-th sortable=column.sortable title=column.title property=column.property 
          sortProperty=sortProperty onSortByChange=(action "sortBy") }}
      {{/each}}
    {{/ember-dynamic-table-header-tr}}
  </thead>

  <tbody>
    {{#each paginatedContent as |row|}}
      {{#ember-dynamic-table-tr row=row numOptionButtons=optionButtons.length 
        onCheckedChange=(action "toggleCheckedProperty") }}
        {{#each availableColumns as |column|}}
          <td>{{get row column.property}}</td>
        {{/each}}
      {{/ember-dynamic-table-tr}}
    {{/each}}
  </tbody>

  <tfoot>
    {{#ember-dynamic-table-footer-tr numOptionButtons=optionButtons.length}}
      {{#each availableColumns as |column|}}
        {{ember-dynamic-table-footer-td colObject=column contentObjects=filteredContent}}
      {{/each}}
    {{/ember-dynamic-table-footer-tr}}
  </tfoot>
</table>

<div class="form-inline">
  {{ember-dynamic-table-pagination-size pageSize=pageSize pageSizeOptions=pageSizeOptions 
    onPageSizeChange=(action "setPageSize") }}
  {{#if showPagination}}
    {{ember-dynamic-table-pagination-index numPages=pages.length pageNumber=pageNumber 
     onPageChange=(action "setPageNumber") }}
  {{/if}}
</div>
