<button class="btn btn-default btn-previous" disabled={{disabledPrevious}} onclick={{action "selectPage" previous}}>
  Previous
</button>

{{#each pages as |page|}}
  <button class="btn btn-default {{if (eq page pageNumberPlusOne) 'active'}}" name="tabgroup" 
      onclick={{action "selectPage" (sub page 1)}}>
    {{page}}
  </button>
{{/each}}

<button class="btn btn-default btn-next" disabled={{disabledNext}} onclick={{action "selectPage" next}}>
  Next
</button>
